<div class="sticky-top bg-gray-200 d-flex justify-content-between align-items-center py-3">
	<h2>Aktivitäten</h2>
	<!-- <button class="btn btn-primary ml-3" (click)="openExportModal()"><i class="fa fa-file-alt"></i> Export</button> -->
</div>

<ul class="list-group list-group-flush">
	<li class="list-group-item" *ngFor="let eventLog of eventLogs" [ngSwitch]="eventLog.eventType">
		<div class="d-flex w-100 justify-content-between"
			[ngClass]="'text-' + (eventLog.eventType === 'ERROR' ? 'danger' : eventLog.eventType === 'WARNING' ? 'warning' : 'secondary')">
			<div>
				<ng-container *ngSwitchCase="'PATIENT_ADMITTED'">
					Der Patient <b>{{ getPatientName(eventLog) }}</b> ist eingewiesen.
				</ng-container>
				<ng-container *ngSwitchCase="'PATIENT_INFO_UPDATED'">
					Info für Patient <b>{{ getPatientName(eventLog) }}</b> ist aktualisiert.
				</ng-container>
				<ng-container *ngSwitchCase="'PATIENT_SCORE_FETCHED'">
					Ergebnis für Patient <b>{{ getPatientName(eventLog) }}</b> ist abgeholt.
				</ng-container>
				<ng-container *ngSwitchCase="'FILE_RECEIVED'">
					File for patient <b>{{ getPatientName(eventLog) }}</b> has been received from
					<b>{{ eventLog.details.sender }}</b>: <b>{{ eventLog.details.fileName }}</b>.
				</ng-container>
				<ng-container *ngSwitchCase="'FILE_SENT'">
					File for patient <b>{{ getPatientName(eventLog) }}</b> has been sent to
					<b>{{ eventLog.details.recipient }}</b>: <b>{{ eventLog.details.fileName }}</b>.
				</ng-container>
				<ng-container *ngSwitchCase="'WARNING'">
					<b *ngIf="eventLog.patientEpid">{{ getPatientName(eventLog) }}: </b> {{ eventLog.details.message }}
				</ng-container>
				<ng-container *ngSwitchCase="'ERROR'">
					<b *ngIf="eventLog.patientEpid">{{ getPatientName(eventLog) }}: </b> {{ eventLog.details.message }}
				</ng-container>
				<ng-container *ngSwitchDefault>
					{{ eventLog | json }}
				</ng-container>
			</div>
			<small title="{{ eventLog.time | date:'dd.MM.yyyy HH:mm:ss' }}">{{ eventLog.time | amTimeAgo }}</small>
		</div>
	</li>
</ul>
<div class="text-center py-3" *ngIf="canLoadMore">
	<button type="button" class="btn btn-outline-secondary" (click)="loadMore()">mehr</button>
</div>
