@import "../../common";

:host {
	display: block;
	height: 100vh;
	background: black;
	padding: 6px;
	display: flex;

	& > div {
		flex: 1;
		border-radius: 16px;
		background: $gray-200;
	}

	.nav {
		flex-wrap: unset;
		$width: 216px;
		width: $width;
		min-width: $width;
		max-width: $width;
		overflow-y: auto;
		padding: 24px 16px 24px 32px;

		.nav-item {
			display: block;

			&:not(:first-child) {
				margin-top: 16px;
			}

			.nav-link {
				display: block;
				height: 92px;
				text-align: center;
				color: $dark;
				background-color: $white;
				border-radius: 8px;
				padding: 0;
				padding-top: 16px;
				font-weight: 600;

				&.active,
				&:active {
					background-color: $primary;

					&, i {
						color: $white;
					}
				}

				i {
					color: $primary;
					display: block;
					font-size: 32px;
					margin-bottom: 8px;
				}
			}
		}

		& + div {
			overflow-y: auto;
			padding-left: 16px;
			padding-right: 32px;
		}
	}
}
