<div class="d-flex flex-column h-100">
	<div class="d-flex justify-content-between align-items-center py-3">
		<h2 class="flex-fill">Einstellungen</h2>
		<button class="btn btn-primary ml-3" (click)="addProfile()">
			<i class="sq-plus"></i> neues Profil
		</button>
	</div>

	<div class="flex-fill d-flex">
		<div class="pr-3" style="width: 240px; border-right: 1px solid rgba(0, 0, 0, 0.1)">
			<div class="list-group" *ngIf="config">
				<a class="list-group-item list-group-item-action" href="javascript:void(0)"
					*ngFor="let profile of config.profiles" [ngClass]="{ 'active': selectedProfile === profile }"
					(click)="selectedProfileId = profile.id">
					<h5>{{ profile.name }}</h5>
				</a>
			</div>
		</div>

		<div class="flex-fill pl-3" *ngIf="selectedProfile">
			<div class="text-right">
				<button class="btn btn-secondary btn-sm" (click)="editProfile(selectedProfile)">
					<i class="sq-pencil"></i> bearbeiten</button>
				<button class="btn btn-danger btn-sm ml-2" (click)="deleteProfile(selectedProfile)">
					<i class="sq-trash"></i> löschen</button>
			</div>
			<div class="row">
				<div class="col-4">
					<strong>Name</strong>
				</div>
				<div class="col-8">
					<p>{{ selectedProfile.name }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<strong>Device ID</strong>
				</div>
				<div class="col-8">
					<p>{{ selectedProfile.settings.deviceId }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-4">
					<strong>Server-Adresse</strong>
				</div>
				<div class="col-8">
					<p>{{ selectedProfile.settings.serverUrl }}</p>
				</div>
			</div>

			<ng-container *ngIf="selectedProfile.gdtServiceSettings">
				<hr />

				<div><strong>Pfad der Eingangsdatei (GDT / 6301)</strong></div>
				<div><p>{{ getGDTInputFilePath(selectedProfile) }}</p></div>

				<div><strong>Pfad der Ausgangsdatei (GDT / 6310)</strong></div>
				<div><p>{{ getGDTOutputFilePath(selectedProfile) }}</p></div>
			</ng-container>

			<!-- <hr />

      <div><i class="text-muted">// TODO: Settings related to file transfers</i></div> -->

		</div>
	</div>
</div>
